@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #1e1e2a;
  overflow-x: hidden;
  text-decoration: none;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
/* HEADER */

a {
  text-decoration: none;
}

.flex-container {
  display: flex;
}

.main-container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.header-container {
  width: 90%;
  background-color: #fff;
  justify-content: center;
  /* align-items: flex-start; */
}

.header-container .flex {
  justify-content: center;
}

.header-container h2 {
  /* padding: 0 10px; */
  color: #fff;
  margin-left: 5%;
}

.header-div {
  margin-top: 15%;
  margin-left: 35%;
  font-size: 25px;
}

.header-div h2 {
  color: #1e1e2a;
  margin-left: 0;
  margin: 0;
}

.header img {
  max-width: 100%;
  object-fit: contain;
}

.header img {
  margin-top: 10px;
  margin-bottom: 5px;
}
.header button {
  display: none;
}

.header {
  width: 100%;
  z-index: 1;
  margin-top: 0;
  display: flex;
  position: absolute;
  background-color: #1e1e2a;
}

.header ul {
  list-style: none;
  display: flex;
  float: right;
  margin-right: 5%;
  margin-left: auto;
  position: relative;
}

.header ul li {
  padding: 10px;
}

.header ul li a {
  text-decoration: none;
  color: #fff;
  transition: 0.5s ease-in-out 0s;
}

.header ul li a:hover {
  background: #ff7aaa;
  border-radius: 10px;
  padding: 7px;
}

.checkbtn {
  font-size: 2rem;
  color: #ef5c05;
  padding: 0 50px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.header-div h1 {
  font-size: 2rem;
  /* letter-spacing: 4px; */
}

.header-div h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
}

.header-div p {
  margin: 10px 0;
}

.img {
  max-width: 30%;
  margin-top: 5%;
}

#img-01 {
  -webkit-animation: MoveUpDown 2s linear infinite;
  animation: MoveUpDown 2s linear infinite;
  position: absolute;
  left: 200px;
  /* top: 0; */
  /* z-index: 4; */
  /* max-width: 550px; */
  /* width: 100%; */
}

@-webkit-keyframes MoveUpDown {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: 10px;
  }
}

@keyframes MoveUpDown {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: 10px;
  }
}

.social-media {
  display: flex;
}

.btn.black {
  text-decoration: none;
  background: #1e1e2a;
  color: #fff;
  padding: 10px 30px;
  /* min-width: 4rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out 0s;
  margin-left: 10px;
}

.btn.black:hover {
  background: #ff7aaa;
}

.container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 3rem 0;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.grid.center {
  justify-content: center;
}
/* SOBRE MIM */

.perfil .card-text {
  width: 30%;
}

section.perfil {
  padding: 50px 0;
  background-color: #1e1e2a;
  background-position: cover;
  background-repeat: no-repeat;
}

.perfil .flex {
  justify-content: center;
  flex-wrap: wrap;
}

.perfil .card-text {
  color: #fff;
  padding-left: 20px;
  padding-top: 20px;
}

.foto {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 20px;
  border-radius: 20%;
  width: 200px;
  position: relative;
}

.foto img {
  width: 100%;
  border-radius: 5%;
}
/* CONHECIMENTOS */

section.conhecimentos {
  top: 70%;
  width: 100%;
  padding-top: 230px;
}

.descricao {
  width: 40%;
}

.grid.container-conhecimentos {
  grid-template-columns: repeat(auto-fit, 180px);
}

.article-title {
  text-transform: uppercase;
}

.conhecimentos .article-title:after {
  margin: 5px 0 20px;
}
.conhecimentos h2 {
  margin-top: 40px;
}

.descricao p {
  font-size: 18px;
  line-height: 23px;
}
.article-title:after {
  content: "";
  display: block;
  width: 200px;
  height: 1px;
  background-color: #1e1e1e;
  margin: 5px auto 20px;
}

.conhecimentos .container-conhecimentos {
  height: auto;
  flex-wrap: wrap;
  margin: 25px 10px;
  height: auto;
  flex-grow: 1;
  flex-basis: calc(33% - 20px);
}

.tecnologia {
  width: 145px;
  height: 150px;
  float: left;
  margin: 20px;
  background-color: #1e1e2a;
  text-align: center;
  border-radius: 15%;
  cursor: pointer;
}

.tecnologia i {
  font-size: 4rem;
  color: rgb(101, 99, 99);
  padding: 50px 20px;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: all 1s ease 0s, opacity 2s cubic-bezier(0.5, 0, 0, 1) 0s,
    transform 2s cubic-bezier(0.5, 0, 0, 1) 0s;
}

.tecnologia i:hover {
  color: #ff7aaa;
}
/* PROJETOS */

.projetos .card-text {
  height: 75%;
  width: 100%;
  color: #333;
  font-weight: 300;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projetos h2 {
  text-align: center;
}

.container-projetos {
  grid-template-columns: repeat(auto-fit, 33%);
}

.projetos .card-text h3 {
  text-align: center;
  font-weight: 400;
}

.projetos .card-text button {
  padding: 10px 25px;
  color: #fff;
  border: 0;
  font-weight: 500;
  font-size: 14px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background: #ff7aaa;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.5s ease-in-out 0s;
}

.projetos .card-text button:hover {
  background: #1e1e2a;
  color: #fff;
}

.card-text .flex {
  justify-content: space-between;
}

.projetos .container-projetos {
  /* justify-content: center; */
  display: flex;
  height: auto;
  flex-wrap: wrap;
  margin: 25px 10px;
  height: auto;
  text-align: left;
}

section.projetos {
  /* display: flex; */
  justify-content: center;
  padding: 30px 0;
}

.projetos .card-container {
  width: 20%;
  padding: 0 20px;
  /* border: 1px solid #1e1e2a; */
  margin-left: 10px;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-top: 20px;
}
/* FOOTER */

.footer {
  width: 100%;
  background-color: #1e1e2a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.contato p {
  display: flex;
  justify-content: center;
}

.contato p a {
  padding: 0 10px;
  text-align: center;
  color: #fff;
  font-size: 2rem;
}

p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}
@media screen and (max-width: 1215px) {
  .header-div {
    margin-left: auto;
  }
}

@media screen and (max-width: 1195px) {
  .projetos .card-container {
    width: 40%;
  }

  .conhecimentos .flex-container {
    flex-direction: column;
    text-align: center;
  }
  .descricao {
    width: 90%;
    margin: 0 auto;
  }
  .conhecimentos .container-conhecimentos {
    justify-content: center;
  }
  .article-title:after {
    margin: 5px auto 20px !important;
  }
}

@media screen and (max-width: 1024px) {
  #img-01 {
    display: none;
  }
  .header-div {
    width: 100%;
    text-align: center;
    margin: 10vh auto;
  }
  .header-div .social-media {
    justify-content: center;
  }
  .flex {
    justify-content: center;
  }
  .perfil .flex {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .perfil .card-text {
    width: 100%;
    text-align: justify;
    padding: 0;
  }
  .foto {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .projetos .flex {
    flex-basis: calc(50% - 20px);
  }
  .header .menu-mobile {
    position: absolute;
    width: 100%;
    background: #1e1e2a;
    margin-top: 61px;
    text-align: center;
    display: block;
    z-index: 1;
  }
  .header .flex-container {
    justify-content: space-between;
  }
  .header button {
    display: block;
    background: none;
    border: none;
    color: #fff;
    font-size: 30px;
  }
  .header .menu {
    display: none;
  }
  .header {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .header ul li a {
    border-bottom: 1px solid #ff7aaa;
    border-radius: 5px;
  }

  .checkbtn {
    margin-left: auto;
    margin-top: 15px;
    font-size: 3rem;
    color: #fff;
  }

  section.conhecimentos {
    top: 70%;
    width: 100%;
    padding-top: 0px;
  }
}

@media screen and (max-width: 768px) {
  .projetos .flex {
    flex-basis: calc(100% - 20px);
    -ms-flex-preferred-size: calc(100% - 20px);
  }
  .header .menu {
    margin-top: 8vh;
  }

  .header-div {
    font-size: 18px;
  }
}

@media screen and (max-width: 620px) {
  .projetos .card-container {
    width: 90%;
  }
}
